<!doctype html>
<html lang="en-US">

  <head>
    <title>Mini Plant Picker</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <header>
      <h1>Mini Plant Picker</h1>
      <h3>Choose the flora that's right for you!</h3>
    </header>

    <main>
      <%== yield %>
    </main>

    <footer>
      <p>© 2021 AL & AM inc.</p>
    </footer>
  </body>
</html>
